[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mindskates
[access "refs/for/refs/*"]
	read = group user/mindskates
	push = group user/mindskates
	label-Code-Review = -2..+2 group user/mindskates
	label-Verified = -1..+1 group user/mindskates
	rebase = group user/mindskates
	removeReviewer = group user/mindskates
	submit = group user/mindskates
[access "refs/heads/*"]
	read = group user/mindskates
	create = group user/mindskates
	push = +force group user/mindskates
	pushMerge = group user/mindskates
[access "refs/tags/*"]
	push = +force group user/mindskates
	pushTag = group user/mindskates
	pushSignedTag = group user/mindskates
